.btn
    transition 0.1s

    &--xxl
        padding 1rem 2rem
        font-size 1.25rem
        font-weight 900
        
    &--ghost
        background transparent
        border solid 2px
        
        &--white
            color white
            border-color white
            
            &:hover
                background white
                color $primary