.features
  
  &__link, &__link:hover, &__link:active, &__link:focus
    text-decoration none

  &__item
    background $off-white
    padding 2rem
    margin 1rem auto
    border solid 2px darken($off-white, 3)
    border-radius .3rem
    
    transition 0.1s
    
    &:hover
      background darken($off-white, 2)
      transform translateY(-2px)

  &__heading
    font-size 1.3rem
    color lighten(black, 30)
      
