section.features
  .container
    .row
      
      //- features data is stored in the `src/data/data.json` file..
      each feat in features
        .col-sm-4
          a.features__link(href="#{feat.url}" target="_blank")
            .features__item.matchHeight
              h4.features__heading #{feat.heading}
              p.features__text #{feat.text}