section.hero
  .hero__content.text-center
    .container
      h1.hero__title FlipStart.
      p.hero__text A starting point composed of Jade, Stylus, Gulp and BrowserSync, with a touch of BEM methodology for good measure. <strong>Let's get to work!</strong>
      a.btn.btn--ghost.btn--ghost--white.btn--xxl.cta-band__button(href="http://github.com/theme-flip/flipstart") View on GitHub