section.hero
    .hero__content.text-center
        .container
            h1.hero__title FlipStart.
            p.hero__text A starting point composed of Jade, Stylus, Gulp and BrowserSync, with a touch of BEM methodology for good measure. <strong>Let's get to work!</strong>