block vars
  - var currentPage = false
  - var pageTitle = 'FlipStart. Bootstrap, Jade & Stylus Starter Kit'

doctype html
html(lang='en')

  //- load the head partial
  include _head
  
  body
      
    block bodyBlock

      .container
        section.features
          .container
            .row
              .col-md-6.col-md-offset-3
                .features__item
                  h4.features__heading Jade is Awesome!
                  p.features__text This is the default bodyBlock content, set in the layout template.You probably want to override the block in your current page!

    //- load the scripts in the footer
    include _footerScripts
